{% extends "base.html" %}
{% block title %}Hello{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/static/css/arena.css">
{% endblock %}

{% block content %}
<svg class="arena_field" height="210" width="500">
</svg>
<div class="invisible hangar">
{% for tank, image in tank_list.items() %}
   <div class="{{tank}}">
     {% include "images/" + image %}
   </div>
{% endfor %}
   <div class="shot-template">
     {% include "images/shot.svg" %}
   </div>
   <div class="aim-template">
     {% include "images/aim.svg" %}
   </div>
</div>
{% endblock %}

{% block footer %}
    <script src="{{ app.router.static.url(filename='/js/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ app.router.static.url(filename='/js/arena_ws.js') }}"></script>
{% endblock %}
