{% extends "base.html" %}
{% block title %}Hello{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/static/css/landing_page.css">
{% endblock %}

{% block content %}

    <form id="form_login" action="" method="POST">
        <h3> {{name|title}} Hangar </h3>
        {% for field in form %}
        <p>
            {{field}}
        </p>
        {% endfor %}
        <p>
            <button id="submitbutton" type="submit">Let's battle</button>
        </p>
    </form>
{% endblock %}
