{% extends "base.html" %}
{% block title %}Hello{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/static/css/landing_page.css">
{% endblock %}

{% block content %}

    <form id="form_login" class="centered_table" action="/login" method="POST">
        <h3> Login </h3>
        {% for field in form %}
        <p>
            {{field}}
        </p>
        {% endfor %}
        <p>
            <button id="submitbutton" type="submit">Login</button>
        </p>
    </form>
{% endblock %}
